      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <div class="menu-heading mt-0">MAIN MENU</div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../index">
              <i class=" mdi mdi-locker-multiple menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" id="navbarDropdownDemos" href="/healthcare/schedule" role="button" aria-haspopup="true">
                  <i class="mid mdi-file-document schedule"></i>
                  <span class="menu-title"> Schedule an Appointment</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#settings" aria-expanded="false" aria-controls="settings">
              <i class=" mdi mdi-target menu-icon"></i>
              <span class="menu-title">Settings</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="settings">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/healthcare/profile">Your Profile</a></li>
                <li class="nav-item"> <a class="nav-link"  href="/userapps">Your Apps</a></li>
                <li class="nav-item"> <a class="nav-link"  href="/healthcare/healthrecord">Your Health Information</a></li>
                <li class="nav-item"> <a class="nav-link"  href="/healthcare/healthins">Your Insurance Coverage</a></li>
                <li class="nav-item"> <a class="nav-link"  href="/profile">Your Tokens</a></li>
                <li class="nav-item"> <a class="nav-link"  href="/healthcare/account">Pay Your Bill</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#messages" aria-expanded="false" aria-controls="messages">
              <i class=" mdi mdi-bullhorn menu-icon"></i>
              <span class="menu-title">Messages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="messages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Inbox</a></li>                
                <li class="nav-item"><a class="nav-link" href="pages/forms/advanced_elements.html">Sent</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/forms/validation.html">Drafts</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class=" mdi mdi-emoticon menu-icon"></i>
              <span class="menu-title">Community</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class=" mdi mdi-logout menu-icon"></i>
              <span class="menu-title">Log Out</span>
            </a>
          </li>
        </ul>
      </nav>