{% extends templatename+"/template.html" %}

{% block content %}

 <div class="container-scroller">
  {% if user_info %}
 {% include  templatename+"/dashboard-welcome.html" %} 
{% endif %}
    <div class="container-fluid page-body-wrapper">

  {% if user_info %}
 {% include  templatename+"/dashboard-sidebar.html" %} 
{% endif %}


{% if user_info %}
 {% include  templatename+"/dashboard.html" %} 
{% endif %}
{% if not user_info %}
 {% include  templatename+"/landing.html" %} 
{% endif %}
    <!-- page-body-wrapper ends -->

  </div>
  <!-- container-scroller -->
          <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Powered by Okta.</span>
          </div>
        </footer>
        <!-- partial -->
</div>
{% endblock %}

